.header {
    display: flex;
    justify-content: space-between;
    background: $color-dark;
    flex-wrap: wrap;

    &-navigation {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        align-items: center;

        &-nav {
            display: flex;
            align-items: center;

            &-list {
                list-style-type: none;
                padding-left: 0;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;

                &-item {
                    display: inline;

                    &-link {
                        @extend .font-inter-regular;
                        color: $color-white;
                        font-size: 20px;
                        line-height: 50px;

                        &:hover {
                            color: $color-gold;
                            cursor: pointer;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }

        &-icon {
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            &-svg {
                cursor: pointer;
                fill: $color-white;

                &:hover {
                    fill: $color-gold;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }
    }

    &-logo {
        &-text {
            padding: 20px 20px 20px 0;

        }
    }
}

.hamburger-lines {
    display: none;
}

//media

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .header {
        &-navigation {
            &-nav {
                display: none;
            }
        }
    }

    .hamburger-lines {
        display: inline-block;
        width: 45px;
        line-height: 10px;
        padding-bottom: 8px;
    }

    .line {
        display: inline-block;
        border: 1.5px solid $color-white;
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .header {
        &-navigation {
            &-nav {
                display: none;
            }
        }
    }

    .hamburger-lines {
        display: inline-block;
        width: 45px;
        line-height: 10px;
        padding-bottom: 8px;
    }

    .line {
        display: inline-block;
        border: 1.5px solid $color-white;
        width: 100%;
    }
}