.header {
    display: flex;
    justify-content: space-between;
    background: $color-dark;
    flex-wrap: wrap;

    &-navigation {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        &-nav {
            display: flex;
            align-items: center;

            &-list {
                list-style-type: none;
                padding-left: 0;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;

                &-item {
                    display: inline;

                    &-link {
                        @extend .font-inter-regular;
                        color: $color-white;
                        font-size: 20px;
                        line-height: 50px;

                        &:hover {
                            color: $color-gold;
                            cursor: pointer;
                            transition: 1s;
                        }
                    }
                }
            }
        }

        &-icon {
            display: flex;
            padding-right: 20px;
            cursor: pointer;

            &:hover {
                color: $color-gold;
                cursor: pointer;
                transition: 1s;
            }
        }
    }

    &-logo {
        &-text {
            padding: 20px;

        }
    }
}