.library {
    background: url(../assets/images/library_background.png), lightgray 50%/ cover no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        display: block;
        height: 50%;
        width: 100%;
        top: 0;
        background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%,);
    }

    &-section {
        padding-top: 220px;
        &-text {
            @extend .font-forum;
            color: $color-white;
            background-color: $color-dark;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 3px;
            text-transform: uppercase;
            max-width: 600px;
            min-height: 220px;
            text-align: center;
            padding: 35px 40px;
        }
    }
}