.main {
    &-contacts {
        &-text {
            @extend .font-forum;
            color: $color-dark;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 2px;
            text-transform: capitalize;
            text-align: center;
            padding-top: 20px;

            &::after {
                content: "";
                background-color: $color-dark;
                height: 1px;
                width: 50px;
                display: block;
                position: relative;
                left: 50%;
                transform: translate(-50%, 20px);
            }
        }

        &-info {
            &-text {
                @extend .font-inter-bold;
                color: $color-black;
                font-size: 20px;
                line-height: 40px;
                letter-spacing: 2px;
                text-transform: capitalize;
            }

            &-container {
                padding: 30px 0;
            }

            &-wrapper {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding: 20px 0 20px 0;

                &-text {
                    @extend .font-inter-regular;
                    color: $color-black;
                    font-size: 20px;
                    line-height: 40px;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                }

                &-tel {
                    @extend .font-inter-regular;
                    color: $color-black;
                    font-size: 20px;
                    line-height: 40px;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                    padding-left: 5px;

                    &:hover {
                        color: $color-gold;
                        cursor: pointer;
                        transition: 1s;
                    }
                }

                &-mail {
                    @extend .font-inter-bold;
                    color: $color-black;
                    font-size: 20px;
                    line-height: 40px;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                    padding-left: 5px;

                    &:hover {
                        color: $color-gold;
                        cursor: pointer;
                        transition: 1s;
                    }
                }
            }
        }

        &-wrapper {
            padding: 40px 20px 40px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-map {
            display: flex;
            width: 100%;
        }
    }
}