.fix-size {
    max-width: 1440px;
    margin: 0 auto;
    scroll-behavior: smooth;
    border: 1px solid red;
    ;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-navigation {
        &-nav {
            &-list {
                list-style-type: none;

                &-item {
                    display: inline;

                    &-link {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.library {
    background: url(../assets/images/library_background.png), lightgray 50%/ cover no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    position: relative;

    // &::before{
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     height: 50%;
    //     width: 100%;
    //     top: 0;
    //     background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%,);
    // }

    &-section {
        &-text {
            color: white;
            background-color: black;
        }
    }
}

