.font-inter-bold {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
 }

.font-inter-regular {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.font-forum {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
}