@font-face{
    font-family: 'Inter-Regular';
    src: url('../assets/fonts/Inter-Regular.ttf');
  }

  @font-face{
    font-family: 'Inter-Bold';
    src: url('../assets/fonts/Inter-Bold.ttf');
  }
  @font-face{
    font-family: 'Forum';
    src: url('../assets/fonts/Forum-Regular.ttf');
  }

.font-inter-bold {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
 }

.font-inter-regular {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
}

.font-forum {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
}

