@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
}
.font-inter-bold, .main-favorites-wrapper-pick-author, .main-favorites-wrapper-pick-name, .main-favorites-paragraph, .button-active:disabled, .button-active {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
}

.font-inter-regular, .main-coffeeshop-container-text, .main-coffeeshop-paragraph, .main-favorites-wrapper-pick-text, .main-favorites-input-label, .main-about-paragraph, .header-navigation-nav-list-item-link {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
}

.font-forum, .main-coffeeshop-container-price, .main-coffeeshop-container-paragraph, .main-coffeeshop-text, .main-favorites-wrapper-pick-staff, .main-favorites-text, .main-about-text, .library-section-text, h1 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #0C0C0E;
}

.fix-size {
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin: 0;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.main-about-buttons-container {
  cursor: pointer;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: inline-block;
  background-color: #FFFFFF;
}
.main-about-buttons-container-left {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #BB945F;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.main-about-buttons-container-center {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.main-about-buttons-container-right {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.button-active {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFFFFF;
  cursor: pointer;
}
.button-active:hover:not(:disabled) {
  cursor: pointer;
  transition: 1s;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}
.button-active:disabled {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  color: #BB945F;
  text-align: center;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #BB945F;
  cursor: default;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #0C0C0E;
  flex-wrap: wrap;
}
.header-navigation {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-navigation-nav {
  display: flex;
  align-items: center;
}
.header-navigation-nav-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.header-navigation-nav-list-item {
  display: inline;
}
.header-navigation-nav-list-item-link {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
}
.header-navigation-nav-list-item-link:hover {
  color: #BB945F;
  cursor: pointer;
  transition: 1s;
}
.header-navigation-icon {
  display: flex;
  padding-right: 20px;
  cursor: pointer;
}
.header-navigation-icon:hover {
  color: #BB945F;
  cursor: pointer;
  transition: 1s;
}
.header-logo-text {
  padding: 20px;
}

.library {
  background: url(../assets/images/library_background.png), lightgray 50%/cover no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center;
  position: relative;
}
.library::before {
  content: "";
  position: absolute;
  display: block;
  height: 50%;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
}
.library-section {
  padding-top: 220px;
}
.library-section-text {
  color: #FFFFFF;
  background-color: #0C0C0E;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 600px;
  min-height: 220px;
  text-align: center;
  padding: 35px 40px;
}

.main {
  background-color: #FFFFFF;
}

.main {
  background-color: #FFFFFF;
}
.main-about-text {
  color: #0C0C0E;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}
.main-about-text::after {
  content: "";
  background-color: #0C0C0E;
  height: 1px;
  width: 50px;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20px);
}
.main-about-paragraph {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  padding: 40px 0 20px;
}
.main-about-gallery {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.main-about-gallery-img-width {
  width: 100%;
}
.main-about-buttons {
  display: flex;
  justify-content: center;
  padding: 35px 0 35px;
}
.main-about-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-favorites-text {
  color: #0C0C0E;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}
.main-favorites-text::after {
  content: "";
  background-color: #0C0C0E;
  height: 1px;
  width: 50px;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20px);
}
.main-favorites-paragraph {
  color: #000000;
  font-size: 20px;
  line-height: normal;
  padding: 61px 0 40px 20px;
}
.main-favorites-input {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  padding: 0 0 0 15px;
}
.main-favorites-input-label {
  font-size: 20px;
  line-height: normal;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-favorites-input-label:has(.main-favorites-input-label-radio:checked) {
  font-weight: 700;
}
.main-favorites-input-label-radio {
  accent-color: #000000;
  position: relative;
  height: 17px;
  width: 17px;
  padding: 5px;
  cursor: pointer;
}
.main-favorites-input-label-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border: 2px solid #000000;
}
.main-favorites-input-label-radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.main-favorites-wrapper {
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-favorites-wrapper-pick {
  width: 590px;
  position: relative;
  margin-top: 40px;
  min-height: 555px;
}
.main-favorites-wrapper-pick-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-favorites-wrapper-pick-content {
  background: #FFFFFF;
  border: 1px solid #000000;
  width: 550px;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-favorites-wrapper-pick-staff {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 14px 0 0 0;
}
.main-favorites-wrapper-pick-staff::after {
  content: "";
  background-color: #BB945F;
  height: 1px;
  width: 60px;
  display: block;
  position: relative;
}
.main-favorites-wrapper-pick-name {
  color: #000000;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 19px 0 0 0;
}
.main-favorites-wrapper-pick-author {
  color: #000000;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0 0 0 0;
}
.main-favorites-wrapper-pick-text {
  position: relative;
  color: #000000;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
  padding-right: 150px;
}
.main-favorites-wrapper-pick-button {
  padding: 15px 0 15px 0;
}
.main-favorites-wrapper-pick-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-coffeeshop {
  padding: 50px 20px 40px 20px;
}
.main-coffeeshop-wrapper {
  display: flex;
  justify-content: space-between;
}
.main-coffeeshop-text {
  color: #0C0C0E;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}
.main-coffeeshop-text::after {
  content: "";
  background-color: #0C0C0E;
  height: 1px;
  width: 50px;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20px);
}
.main-coffeeshop-paragraph {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 40px;
}
.main-coffeeshop-container {
  width: 438px;
}
.main-coffeeshop-container-paragraph {
  color: #BB945F;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.main-coffeeshop-container-ul {
  list-style-type: none;
  padding-top: 39px;
}
.main-coffeeshop-container-ul-li {
  display: grid;
  grid-template-columns: 1fr 178px 38px;
}
.main-coffeeshop-container-text {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.main-coffeeshop-container-text::after {
  content: "";
  background-color: #BB945F;
  height: 1px;
  width: 100px;
  display: block;
  position: relative;
  left: 259px;
  transform: translate(0%, -20px);
}
.main-coffeeshop-container-price {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  grid-column: 3;
  text-align: right;
}

.right-align {
  text-align: right;
}
.right-align::after {
  left: 292px;
}

.width-right {
  width: 480px;
}

.li-right {
  grid-template-columns: 1fr 211px 38px;
}/*# sourceMappingURL=style.css.map */